<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
     <p>
        I'm Renata Toleugazina, currently studying in Canada at Seneca College. My major is in Software Development, and I'm passionate about delving into the intricacies of coding and programming. Living in Canada has been an exciting and enriching experience, and I'm enjoying the multicultural environment here. Looking forward to applying my knowledge and skills in the dynamic field of technology! 
    </p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>Stay tuned.</p>
    </aside>
  </div>
</div>